node_modules/
coverage/
build/
dist/
doc/

./crawler
flow-typed
.vscode
.idea
.DS_Store
npm-debug.log

apidoc/
jsdoc/
tmp/

syntax: glob

*.heapsnapshot
*.log
/public
/log/

#syntax: regexp
config/*.json


/doc/
.env
